@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
	list-style: none;
	margin:0;
	padding:0;
}
caption,th {
	text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
	margin:0;
	padding:0;
	color:#444;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align:center;
	position: relative;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
			border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#usedBy{
	background-image: url('imgs/used-by-fullpage.png?v=2');
	margin: 0 auto;
	margin-top: 50px;
	display: block;
	height: 127px;
	width: 402px;
}

#section0 img,
#section1 img{
	margin: 20px 0 0 0;
}
#section2 img{
	margin: 20px 0 0 52px;
}
#section3 img{
	bottom: 0px;
	position:absolute;
	margin-left: -420px;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:662px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}
#donations a{
	color: #333;
	color: rgba(0, 0, 0, 0.5);
	font-size: 80%;
}
#donations a:hover{
	color: #fff;
}
#supportedBy{
	position: absolute;
	left: 30px;
	bottom: 30px;
	z-index: 101;
}
#supportedBy a img{
	display: block;
	margin: 0;
	border: 0;
}
#supportedBy div{
	margin: 0 0 4px 0;
	display: block;
	font-size: 13px;
	text-align: left;
}

#section0 #logo{
	max-width: 282px;
}

/* Smaller than 770px height */
@media screen and (max-height: 770px){
	#section0 #logo{
		max-width: 250px !important;
		height: auto !important
	}
	#section0 #usedBy{
		padding: 10px 0 0 0;
		height: 60px;
		width: 398px;
		margin-top: 40px;
		background-size: cover;
	}
	#section3 img{
		bottom: -67px;
	}
}

/* Smaller than 680px height */
@media screen and (max-height: 680px){
	#section0 #usedBy{
		margin-top: 15px;
		height: 41px;
		width: 308px;
		background-size: cover;
	}
	#section0 #logo{
		max-width: 200px !important;
		height: auto !important
	}
	#section3 img{
		bottom: -100px;
	}
}

/* Smaller than 580px height */
@media screen and (max-height: 580px){
	#section0 #logo{
		max-width: 150px !important;
		height: auto !important
	}
	h1{
		font-size: 4.5em;
	}
	#donations a{
		font-size: 57%;
	}
	#section3 img{
		bottom: -180px;
	}
	.intro p{
		font-size: 1.1em;
	}
}

/* Smaller than 480px height */
@media screen and (max-height: 480px){
	#usedBy{
		display: none;
	}
}

/*creen resolutions smaller than 620px width */
@media all and (max-width: 900px){
	#usedBy{
		padding: 0 0 0 0;
	}
}
/*creen resolutions smaller than 620px  width*/
@media all and (max-width: 890px){
	#twitter-widget-0{
		left: 20px;
		top: 63px;
	}
	#section3 img{
		margin: 0 auto;
		left: 0;
		max-width: 600px;
		height: auto !important;
		right: 0px;
	}
	#section1 #slidersImg{
		max-width: 462px;
		height: auto !important;
	}
	#menu li {
		margin: 5px;
	}
	#menu li a,
	#menu li.active a{
		padding: 9px 12px;
	}
}
/*creen resolutions smaller than 620px  width*/
@media all and (max-width: 650px){
	#menu{
		z-index: 9999;
	}
	#menu li {
		margin: 3px;
	}
	#menu li a,
	#menu li.active a{
		padding: 9px 12px;

	}
	#section3 img{
		margin: 0 auto;
		left: 0;
		max-width: 450px;
		height: auto !important;
		right: 0px;
	}
	#section2 img{
		margin: 20px 0 0 0;
	}
	.intro p{
		font-size: 1.1em;
	}
	#usedBy{
		width: 310px !important;
		height: 46px !important;
		background-size: cover !important;
		background-repeat: no-repeat;
	}
}
/*creen resolutions smaller than 620px  width*/
@media all and (max-width: 580px){
	#menu li a,
	#menu li.active a{
		padding: 8px 11px;
		font-size: 13px;
	}
	#supportedBy{
		display: none;
	}
	#section1 #slidersImg{
		max-width: 350px;
		height: auto !important;
	}
	#section2 #easyToUse{
		max-width: 350px;
		height: auto !important;
	}
	.intro p{
		width: 75%;
	}
	h1 {
	   font-size: 2.7em;
	}
	#infoMenu{
		text-align: center;
	}
	#infoMenu ul{
		display: inline-block;
		padding: 0;
	}
	#infoMenu li a{
		margin: 0 10px 0 0;
	}
}

/*creen resolutions smaller than 620px  width*/
@media all and (max-width: 480px){
	#section3 img{
		margin: 0 auto;
		left: 0;
		max-width: 300px;
		height: auto !important;
		right: 0px;
	}
	#twitter-widget-0{
		display: none;
	}
}


@media screen and (max-width: 890px)  and (max-height: 680px) {
	#section3 img{
		bottom: -50px;
	}
}

@media screen and (max-width: 650px)  and (max-height: 680px) {
	#section3 img{
		bottom: 0px;
	}
}

@media screen and (max-width: 580px) and (max-height: 580px) {
	#section3 img{
		bottom: -50px;
	}
}

@media screen and (max-width: 500px) and (max-height: 500px) {
	#section3 img{
		bottom: 0px;
	}
}
