﻿@model SvitSoft.Mignons.Core.Models.NewOrderModel

@{
    ViewBag.Title = "New order";
}
<link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
<link href="~/Content/example3.css" rel="stylesheet" />


<div id="fullpage" ng-controller="OrdersCtrl as ordersCtrl">

    <div class="section intro" id="section0">
        <h1>You need more mignons?</h1><br />

        <p style="font-size:1.5em;">We can give them for you.</p>
    </div>

    <div class="section intro" id="section1">
        <h1>How?</h1>
    </div>

    <div class="section intro" id="section2">
        <h1>Just order them:</h1><br />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-3 col-md-offset-2" style="text-align:right">
                    <span>Quantity:&nbsp;</span>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control input-sm" ng-model="ordersCtrl.order.quantity" step="1" min="1" placeholder="1" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2" style="text-align:right">
                    Email:
                </div>
                <div class="col-md-3">
                    <input type="email" class="form-control input-sm" ng-model="ordersCtrl.order.email" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
                <div class="col-md-12" style="align-content: center">
                    <input type="button" value="Order" class="btn btn-default" ng-click="ordersCtrl.checkUser()" />
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/jquery.fullPage.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                //Navigation
                menu: '#menu',
                lockAnchors: false,
                anchors: ['mignons', 'how', 'order'],
                navigation: false,
                navigationPosition: 'right',
                navigationTooltips: ['firstSlide', 'secondSlide', 'thirdSlide'],
                showActiveTooltip: false,
                slidesNavigation: true,
                slidesNavPosition: 'bottom',

                //Scrolling
                css3: true,
                scrollingSpeed: 700,
                autoScrolling: true,
                fitToSection: true,
                fitToSectionDelay: 1000,
                scrollBar: false,
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                continuousVertical: false,
                normalScrollElements: '#element1, .element2',
                scrollOverflow: false,
                touchSensitivity: 15,
                normalScrollElementTouchThreshold: 5,

                //Accessibility
                keyboardScrolling: true,
                animateAnchor: true,
                recordHistory: true,

                //Design
                controlArrows: true,
                verticalCentered: true,
                resize: false,
                sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
                paddingTop: '3em',
                paddingBottom: '10px',
                fixedElements: '#header, .footer',
                responsiveWidth: 0,
                responsiveHeight: 0,

                //Custom selectors
                sectionSelector: '.section',
                slideSelector: '.slide',

                //events
                onLeave: function (index, nextIndex, direction) { },
                afterLoad: function (anchorLink, index) { },
                afterRender: function () { },
                afterResize: function () { },
                afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) { },
                onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) { }
            });
        });
    </script>

}
