﻿@model IEnumerable<SvitSoft.Mignons.Core.Models.OrderModel>

@{
    ViewBag.Title = "OrdersList";
}

<div class="container">
    <h2>OrdersList</h2>

    <ul class="list-group">

        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-12">
                        @item.UserName was ordering mignons @item.OrderCount times (@item.ProductCount mignons at all). Last order was @item.LastOrder
                    </div>
                </div>
            </li>
        }
    </ul>
</div>